@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ::-webkit-scrollbar{width:0px ;} */
 

/* ======================== Bloque de interfaz base ======================== */

:root,
html,
*,
body {
  font-family: "Montserrat", "Roboto", sans-serif;
  --color1: #00a52c;
  --color2: #26214b;
  margin: 0;
  padding: 0;
}

/* ======================== Estilos BG ======================== */
body {
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* ======================== Headings ======================== */

h1 {
  color: #fff !important;
  font-weight: 800 !important;
  font-size: 60px !important;
  margin: auto !important;
}

h1 a {
  color: #fff !important;
  text-decoration: none;
  transition: all 0.3s;
}

h1 a:hover {
  color: #26214b !important;
  text-decoration: none;
}

h2{
  font-size: 50px !important;
  margin: 25px 0 !important;
  font-weight: 700 !important;
}

h3.mb-2 {
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

/* ======================== Lista version ======================== */

ul.clean{
  list-style: square;
}


/* ======================== Encabezado de las páginas ("header" es el div base) ======================== */
.header {
  width: 99%;
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 0 0 50px 50px;
  padding: 10px;
}
.header-error {
  width: 100%;
  height: 93px;
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0 0 50px 50px;
  padding: 10px;
}

/* ======================== Logo IPL ======================== */
.logo-container {
  position: absolute;
  top: 8px;
  left: 20px;
  background-color: #fff;
  /* padding: 10px; */
  border-radius: 10px 10px 10px 40px;
  overflow: hidden;
}
.logo {
  width: 250px;
  padding: 10px;
}

/* ======================== Fecha ======================== */
.cuadroFecha {
  position: absolute;
  top: 8px;
  right: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px 10px 50px 10px;
  width: 320px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cuadroFecha-error {
  position: absolute;
  top: 8px;
  right: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px 10px 50px 10px;
  width: 320px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cuadroFecha p {
  margin: 0;
  font-size: 16px;
  font-weight: --;
  color: #26214b;
}

.cuadroFecha-error p {
  margin: 0;
  font-size: 16px;
  font-weight: --;
  color: #26214b;
}

.cuadroFecha #hora-actual {
  font-weight: 900;
  font-size: x-large;
}

.cuadroFecha-error #hora-actual {
  font-weight: 900;
  font-size: x-large;
}

.cuadroFecha #fecha-actual {
  font-weight: 700;
}

.cuadroFecha-error #fecha-actual {
  font-weight: 700;
}

/* ======================== Fin de encabezado de las páginas ======================== */


/* ======================== Notas de la versión ======================== */
.version-notes{
  margin-left: 10px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow:  0 0 10px #0000002f;
  cursor: pointer;
  border-radius:5px 5px 0 0;
  transition: all 0.3s;
}

.version-notes:hover{
  background-color: #26214b;
  color: #fff;
  transition: all 0.3s;
} 

/* ======================== Fin de Notas de la versión ======================== */

/* ======================== Navegador ("container-nav" es el div base) ======================== */

.container-nav {
  margin-top: 93px;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.my-navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.my-nav {
  width: auto;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: #00a52c;
  border-radius: 0 0 25px 25px;
  list-style: none;
  overflow: hidden;
}

.my-navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  display: flex;
}

.nav-li {
  float: left;
  transition: all 0.3s;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.nav-li:hover {
  background-color: #26214b;
  transition: all 0.3s;
}

.nav-li .nav {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.hoverNav {
  background-color: #26214b;
  width: 150px;
}

.nav-li .active {
  background-color: #005716;
  transition: all 0.3s;
}

.nav-li .active:hover {
  background-color: #26214b;
}

.nav-li .cierre {
  background-color: #ff0000;
  transition: all 0.3s;
  font: bold;
}

.nav-li .cierre:hover {
  background-color: #740202;
}

ul {
  width: 290px;
  margin: auto;
  list-style: none;
  padding: 0;
}

ul.detallesOps {
  padding: 5px;
}


/* ======================== Cuadro de sesión ======================== */

.sessid{
  margin : 0 48px;
}

.id_sesion {
  background-color: var(--color2);
  padding: 16px;
  border-radius: 0 0 20px 20px;
  color: #fff;
}

/* ======================== Fin de Cuadro de sesión ======================== */


/* ======================== Fin del navegador======================== */

/* ======================== Páginas de seleccion (Dashboards, Helpdesk, Dailyplan, etc...) ======================== */

/* ======================== Descripción de la página ======================== */

.container-descripcion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.container-descripcion p {
  position: relative;
  text-align: center;
  max-width: 800px;
}

/* ======================== Fin de descripción de la página ======================== */

/* ======================== Bloques de la página ======================== */

.container-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px !important;
}

.bloques-grid {
  margin: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.bloques-grid a {
  text-decoration: none;
  color: #26214b;
}

.bloque {
  position: relative;
  width: 450px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bloque:hover {
  transition: all 0.3s;
  box-shadow: 10px 10px 10px #888888;
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1.02);
  z-index: 1;
}

.bloque img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background: rgba(0, 10, 54, 0.726);
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}

.my-text-overlay p {
  text-align: justify;
}

.bloque:hover .my-text-overlay {
  opacity: 1;
}

h3,
p {
  margin: 0;
  padding: 0%;
}

/* ======================== Fin de bloques de la página ======================== */

/* ======================== Fin de páginas de seleccion (Dashboards, Helpdesk, Dailyplan, etc...) ======================== */

/* ======================== Tablas  ======================== */

/* ======================== Tablas de Import ======================== */

.tabla-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nombre-tabla {
  font-size: 50px;
  font-weight: 700;
  margin: 20px;
}
/* ======================== Tablas de Import ======================== */




/* ======================== Sistema de tickets ======================== */

.tick-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.fondo-tickets {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 10px #888888;
}

.form-tickets {
  padding: 10px;
  margin: 10px;
}

.alerta-enviado {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* ======================== herramientas ======================== */
.espacio {
  margin-top: 100px;
}

tfoot input{
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.tabla-hover{
  cursor: pointer;
}

/* ======================== Nuevo daily plan ======================== */
body .nuevo_daily{
  background: rgb(7,144,72);
  background: linear-gradient(45deg, rgba(7,144,72,1) 0%, rgba(39,39,69,1) 100%);
}

.aside{
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 25%;
  height: 100vh;
  font-weight:800;
}

.aside_nav{
  font-size: 35px;
  cursor: pointer;
}

.new_active {
  background-color: #260058;
  transition: all 0.3s;
  color: #fff;
  border-radius: 0 10px 10px 0;
  margin-left: -40%;
  padding-left: 40%;
}

.aside_nav:hover{
  background-color: #260058;
  transition: all .2s;
  color: #fff;
  border-radius: 0 10px 10px 0;
  margin-left: -40%;
  padding-left: 40%;
}

/* ======================== Tarjetas ======================== */

.data_tarjetas{
  display: grid;
  justify-items: center;
}
