@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: 'Montserrat', 'Roboto', sans-serif;
    --color1 : #00A52C;
    --color2 : #26214b;
} 

body{
    background-image: url('../images/Motivo2.png');
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-color: var(--color1);
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}

/* Navbar */

.mt-3, .table{
    font-family: var(--font-family);
}



h1{
    color: #fff;
    font-size: 60px;
    margin: auto;
}

.fondo{
    position: relative;
    padding: 16px;
}

.fondo img{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.08;
    z-index: -1;
}

.logo-container{
    position: absolute;
    top: 8px;
    left: 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px 10px 10px 40px;
}
.logo{
    
    max-width: 200px;
    height: auto;
    width: auto;
    padding: 10px;
}
.cuadroFecha{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px 10px 50px 10px;
    z-index: 999;
}
.cuadroFecha p {
    margin: 0;
    font-size: 16px;
    font-weight: --;
    color: #26214B;
}
.cuadroFecha #hora-actual{
    font-weight: 900;
    font-size: x-large;
}
.cuadroFecha #fecha-actual{
    font-weight: 600;
}
.Header{
    width: 100%;
    background-color: var(--color1);
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0 0 50px 50px;
    padding: 30px;
}
.title{
    color: white;
    font-weight: 800;
    font-size: 60px;
    z-index: 999;
    display:flex;
    left: 1000px;
    
}
.descripcion-texto{
    max-width: 800px;
    margin: 20px;
}

.descripcion-texto p{
    text-align: justify;
    font-size: 20px;
}

.container-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.container-form form{
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.295);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

form label{
    font-size: 20px;
}

form input, select{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #26214B;
}

form #btn{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #26214B;
    background-color: #26214B;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


form #btn:hover{
    background-color: #00A52C;
    border: #00A52C;
    transition: all .3s;
}

.disclaimer{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

